## General

# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# PyCharm files
.idea

# OSX dir files
.DS_Store

## Caffe

# User's build configuration
Makefile.config

# Data and models are either
# 1. reference, and not casually committed
# 2. custom, and live on their own unless they're deliberated contributed
data/*
models/*
*.caffemodel
*.caffemodel.h5
*.solverstate
*.solverstate.h5
*.binaryproto
*leveldb
*lmdb

# build, distribute, and bins (+ python proto bindings)
build
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
python/caffe/proto/
cmake_build
.cmake_build

# Generated documentation
docs/_site
docs/gathered
_site
doxygen
docs/dev
python/caffe/*.dll
python/caffe/*.pyd
python/caffe/*.lib
python/caffe/*.exp
matlab/+caffe/private/*.dll
matlab/+caffe/private/*.lib
matlab/+caffe/private/*.exp
matlab/+caffe/private/*.pdb

# LevelDB files
*.sst
*.ldb
LOCK
LOG*
CURRENT
MANIFEST-*

#3rdparty
3rdparty/
bin/
caffe/caffe/src
caffe/caffe/x64
caffe/*.sdf
caffe/caffe/*.pdb
caffe/pycaffe/src
caffe/pycaffe/x64
caffe/pycaffe/*.pdb
caffe/*.opensdf
python/caffe/*.pdb
caffe/gtest_caffe/x64
caffe/gtest_caffe/src
caffe/gtest_caffe/*.pdb
caffe/matcaffe/src
caffe/matcaffe/x64
caffe/matcaffe/*.pdb

src/caffe/test/test_data/my_test/*
caffe/src
caffe/caffe/Debug

caffe/*.vsp
caffe/*.vspx
caffe/*.psess
src/caffe/layers/batch_norm_opt_layer_org.cu

*.opensdf
*.sdf
*.pdb
*.log
*.filters